*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    overflow:  hidden;
    height: 630px;
    display: flex;
    justify-content: center;
    background-image: url(/back.png);
    background-position-y: bottom ;
    
   
    
 

}
#img1{
    margin-top: 22px;
   height: 400px;
    width: 200px;
    animation: image1;
    animation-duration: 2s;
    animation-delay: 0.5s;
    z-index: 1;
 
    
}

#img2{
    margin-left: 300px;
    width: 70px;
    border-radius: 50px;
    position: absolute;
    top: 202px;
    animation: image2;
    animation-delay: 1.5s;
    animation-duration:0.9s;
    z-index: 1;
    
}
@keyframes image1 {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-74deg);
    }
    
}
@keyframes image2 {
    from{
        top: 202px;
    }
    to{
        transform: rotate(360deg);
         top:0px;
        
    }
    
}
#foot{

    width: 100%;
    overflow: hidden;
    height: 200px;
    background-color: green;
    
}
